<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/results.css">

<div class="searchbox">
    <form method="post" action="/search" autocomplete="off">
        <h2>WikiSearcher</h2>
        <input type="text" name="term" value="{{term}}">
        <input type="submit" value="search">
    </form>
</div>


<div class="container">
    <p>{{listsize}} Results</p>
    {{#titles}}
        <div class="result">
            <h2><a href={{value.key}}>{{key}}</a></h2>
            <h3>{{value.key}}</h3>
            <p>TF-IDF score: {{value.value}}</p>
        </div>
    {{/titles}}
</div>

<footer>
    <div>CodeU 2016 Final Project</div>
</footer>
