<form method="post" action="/search">
    <input type="text" name="term" value="{{term}}">
    <input type="submit">
</form>

<h1>Search Term: {{term}}</h1>
<h3>Results:</h3>
{{#entries}}
    <div>
        <h3><a href="{{key}}">{{key}}</a></h3>
        <h4>{{term}} occurs: {{value}} times</h4>
    </div>
{{/entries}}